<style type="text/css">
<!--
BODY
{    
font-size:8pt;
FONT-FAMILY: Verdana, Arial, Helvetica;
background-color:#FFFFFF;
}

form {
font-size:8pt;
margin:0 0 0 0;
padding:0 0 0 ;
}

select {
font-size:8pt;
width:200px;
}

input {
font-size:8pt;
color:#4271BD;
height:20px;
font-weight:normal;
}

ul {
font-size:8pt;
padding-left:30px;
padding-top:0px;
padding-bottom:0px;
margin:0px;
}

h2 {
FONT-FAMILY: Verdana, Arial, Helvetica;
font-size:10pt;
font-weight: bold;
}

td {
FONT-FAMILY: Verdana, Arial, Helvetica;
font-size:8pt;
}

h {
background-color:D6DF20;
}

A {
font-size:8pt;
color:#4271BD;
text-decoration: none;
font-weight:normal;
FONT-FAMILY: Verdana, Arial, Helvetica;
}

A:hover	{color:#AE5E5E;}
A.anormal {color:#871A14;}
A:hover.anormal {color:E4C032;}
A.navbar {color:#ffffff;}
A:hover.navbar {color:#FFFF00;}
A.text1 {color:#871A14;}

p {
FONT-FAMILY: Verdana, Arial, Helvetica;
font-size:8pt;
margin:0 0 0 0;
}

.text1 {
color:#000000;
background-color:#FFFFFF;
}

.page {color:#714042}

.head{
FONT-FAMILY: Verdana, Arial, Helvetica;
font-size:10pt;
font-weight: normal;
background-color:#F1E7E4;
color:#933131;
text-align:left;
}

.headforum{
FONT-FAMILY: Verdana, Arial, Helvetica;
font-size:10pt;
font-weight: normal;
background-color:#FFCC66;
color:#933131;
text-align:left;
}

.redbold{
  FONT-FAMILY: Verdana, Arial, Helvetica;
  color:#9A4E4E;
  font-weight:bold;
}



.bluenormal{
  color:#4271BD;
  font-size:10pt;
  font-weight:normal;
}

.blacknormal{
font-size:8pt;
color:#000000;
font-weight:normal;
}

.blackbold{
color:#000000;
font-weight:normal;

}

.paddingleft10 {
padding-left:10px;
}

.right{
background-color:#AB5858;
}
.left {
background-color:#F1E7E4;
text-align:justify;
}

.left1 {
background-color:#FEFCFC;
}
.leftwhite {
background-color:#FFFFFF;
}
.lefthead {
background-color:#F1E7E4;
color:#933131;
}
.def{
	
	font : bold italic;
}


-->	
</style>
